header {
    /*background-image: url('img/pexels-photo-430207.jpeg');*/
    /*background-size: cover;*/
    height: 500px;
    padding-top: 200px;
    text-align: center;
}
.container{
    background-image: url('img/pexels-photo-430207.jpeg');
    background-position: center;
    background-attachment: fixed;
}
header h1, header h2 {
    margin: 0;
}
section{
    margin-bottom:60px;
    padding-bottom:50px;
    box-shadow:0 0 15px black;
}
.section-rose{
    background-color:#f4d3eb;
}
.section-bleue{
    background-color:#007fc2;
    color:white;
}
#skills-img{
    border-radius:10000px;
}
.carousel{
    position:relative;
}
.carousel .slide{
    position:absolute;
    top:0;
    left:0;
    border:10px solid white;
    border-bottom-width:50px;
    height:300px;
    width:300px;
    overflow:hidden;
}
.carousel .slide.active{
    z-index:2;
}
.float-links{
    position:absolute;
    bottom:-30px;
    height:30px;
    background-color:#13aa98;
    padding:5px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left:10px;
    font-size:16px;
    box-shadow:0 0 15px 1px black;
    transition-property:padding-top,height,bottom;
    transition-duration:400ms;
}
.float-links:hover{
    padding-top:15px;
    height:40px;
    bottom:-40px;
}
.navbar-content{
    box-shadow:0 0 10px 0px black;
}
.float-links a:link{
    color:white;
}
#contact-link{
    background-color:#007fc2;
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding:20px 30px;
    border-radius:15px;
}
#contact-link:hover{
    background-color:#118fd2;
}

.section-noire{
    background-color:#222;
    color:#007fc2;
}
.section-noire h3, .section-noire .highlight{
    background-color:#007fc2;
}
.section-noire a:link{
    color:white;
}
#formations-pic{
    width:250px;
}
.section-noire h4{
    color:white;
    font-size:1.0em;
    text-transform: uppercase;
    margin-left:25px;
}
.section-noire h4 .fa{
    text-indent:-25px;
}
#formations p{
    margin-left:25px;
}
.highlight{
    padding:0 5px;
}
.section-rose .highlight{
    background-color:black;
    color:white;
}
.section-bleue h3, .section-bleue .highlight{
    background-color:#f4d3eb;
    color:#007fc2;
}
.section-bleue a:link{
    color:#f4d3eb;
}

.black-box {
    font-family:'Open Sans', sans-serif;
    padding: 30px 30px;
    text-align: center;
    background-color: black;
    color: white;
    display: inline-block;
    box-shadow:0 0 40px black;
}
.black-box p{
    text-align: center;
}
header h1 {
    font-size: 56px;
    margin-bottom:10px;
}
.margin-h-20{
    margin-left:20px;
    margin-right:20px;
}
header h2 {
    font-size: 28px;
}

body {
    padding-top: 50px;
    font-family:'Roboto', sans-serif;
    font-size:18px;
}

body .navbar-default, body.navbar-inverse{
    border:0;
    background:transparent;
}
body .navbar-default .navbar-content{
    background-color: #222;
    border-color: #080808;
    padding:0 15px;
    font-size: 16px;
}
body .navbar-nav{
    float:none;
    text-align:justify;
    height: 50px;
}
body .navbar-nav:after{
    content:"";
    line-height:0;
    height:0;
    width:100%;
    display:inline-block;
}

body .navbar-nav>li{
    float:none;
}
body .nav>li{
    display:inline-block;
}
.black-box .head-icon{
    font-size:20px;
}
.head-icon + .head-icon{
    margin-left:20px;
}
p.icons-list{
    margin-top: 15px;
    margin-bottom: 0;
    font-size:20px;
}

#sarah-photo{
    border-radius:1000px;
    overflow:hidden;
    border:7px solid #000;
    width:360px;
    position:absolute;
    top:50%;
    left:-420px;
    margin-top:-180px;
}
h3{
    color:white;
    display:inline-block;
    text-transform: uppercase;
    padding:5px 8px;
    margin-bottom:50px;
    background-color:#000;
}
h4{
    font-size:1.6em;
}
p.subtitle{
    font-size:1.2em;
    color:rgba(255,255,255,0.8);
    font-weight:bold;
    margin-top:-10px;
}
.relative{
    position:relative;
}

a:link{
    color:inherit;
    text-decoration:underline;
}

.quote{
    color:white;
}
.quote:before{
    content:"«";
    margin-right:5px;
    display:inline-block;
    color:#AAA;
    font-size:1.4em;
    line-height:25px;
}
.quote:after{
    content:"»";
    margin-left:5px;
    display:inline-block;
    color:#AAA;
    font-size:1.4em;
    line-height:25px;
}
h5{
   font-size:16px;
    margin-bottom:20px;
}

/**EXPERIENCES**/

.experience-item{
    position:relative;
    border-left:3px solid white;
    padding-left:40px;
    margin-bottom:80px;
    padding-right:40px;
}
.experience-item:before{
    content:"";
    height:20px;
    width:20px;
    background-color:#f4d3eb;
    position:absolute;
    top:-30px;
    left:-11px;
    transform:rotate(45deg);
    transition-property: transform;
    transition-duration: 1s;
}
.experience-item h4{
    text-transform: uppercase;
    font-weight:bold;
}
.experience-item .exp-title{
    margin-top:-35px;
    font-weight:bold;
    border-bottom:5px solid #007fc2;
    background-color:#f4d3eb;
    color:#007fc2;
    position:relative;
    width:50%;
    padding:3px 15px 2px;
    text-transform: uppercase;
    overflow:hidden;
}

.experience-item .exp-title:before{
    content:"";
    top:0;
    bottom:0;
    left:-300%;
    right:100%;
    position:absolute;
    background-color:#007fc2;
    transition-property: right,left;
    transition-duration: 1s;
}

.experience-item:hover:before{
    transform:rotate(495deg);
}
.experience-item:hover .exp-title:before{
    right:-100%;
    left:100%;
}
.experience-item .exp-title span{
    position:relative;
    z-index:2;
}
