header {
    /*background-image: url('img/pexels-photo-430207.jpeg');*/
    /*background-size: cover;*/
    height: 500px;
    padding-top: 200px;
    text-align: center;
}
.container{
    background-image: url('img/pexels-photo-430207.jpeg');
    background-position: center;
    background-attachment: fixed;
}
header h1, header h2 {
    margin: 0;
}
section{
    margin-bottom:10px;
}
.section-rose{
    background-color:#f4d3eb;
}
#experiences{
    background-color:#007fc2;
    color:white;
}

.carousel{
    position:relative;
    height:400px;

}
.carousel .slide{
    position:absolute;
    top:0;
    left:0;
    border:10px solid white;
    border-bottom-width:50px;
    height:300px;
    width:300px;
    overflow:hidden;
}
.carousel .slide.active{
    z-index:2;
}




#formations{
    background-color:#222;
    color:#007fc2;
}
#formations h3{
    background-color:#007fc2;
}
#formations-pic{
    width:250px;
}
#formations h4{
    color:white;
    font-size:1.0em;
    text-transform: uppercase;
    margin-left:25px;
}
#formations h4 .fa{
    text-indent:-25px;
}
#formations p{
    margin-left:25px;
}
#experiences h3{
    background-color:#f4d3eb;
}

.black-box {
    font-family:'Open Sans', sans-serif;
    padding: 30px 30px;
    text-align: center;
    background-color: black;
    color: white;
    display: inline-block;
}
.black-box p{
    text-align: center;
}
header h1 {
    font-size: 56px;
    margin-bottom:10px;
}
.margin-h-20{
    margin-left:20px;
    margin-right:20px;
}
header h2 {
    font-size: 28px;
}

body {
    padding-top: 50px;
    font-family:'Roboto', sans-serif;
    font-size:18px;
}

body .navbar-default, body.navbar-inverse{
    border:0;
    background:transparent;
}
body .navbar-default .navbar-content{
    background-color: #222;
    border-color: #080808;
    padding:0 15px;
    font-size: 16px;
}
body .navbar-nav{
    float:none;
    text-align:justify;
    height: 50px;
}
body .navbar-nav:after{
    content:"";
    line-height:0;
    height:0;
    width:100%;
    display:inline-block;
}

body .navbar-nav>li{
    float:none;
}
body .nav>li{
    display:inline-block;
}
.black-box .head-icon{
    font-size:20px;
}
.head-icon + .head-icon{
    margin-left:20px;
}
p.icons-list{
    margin-top: 15px;
    margin-bottom: 0;
    font-size:20px;
}

#sarah-photo{
    border-radius:1000px;
    overflow:hidden;
    border:7px solid #000;
    width:360px;
    position:absolute;
    top:50%;
    left:-420px;
    margin-top:-180px;
}
h3{
    color:white;
    display:inline-block;
    text-transform: uppercase;
    padding:5px 8px;
    margin-bottom:15px;
    background-color:#000;
}
h4{
    font-size:1.6em;
}
p.subtitle{
    font-size:1.2em;
    color:rgba(255,255,255,0.8);
    font-weight:bold;
    margin-top:-10px;
}
.relative{
    position:relative;
}

a:link{
    color:inherit;
    text-decoration:underline;
}